.beer_details-container {
    width: 100%;
    padding: 32px 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;

    img {
        max-height: 50vh;
        width: 100%;
        object-fit: contain;
    }

    .beer_details-specs-container {
        width: 100%;
        display: flex;
        flex-direction: column;

        .beer_details-specs-container-line1, .beer_details-specs-container-line2{
            display: flex;
            align-items: baseline;
            justify-content: space-between;
        }
    }


}